.App {
  text-align: center;
}
.container {
  margin-top: 20px;
}

.div {
  text-align: center;
}

.header {
  margin: 20px;
  text-align: center;
  color: palevioletred;
  font-family: serif;
  font-style: italic;
}

li {
  list-style: none;
  text-align: left;
}

.nav-pills .nav-link.active {
  background-color: palevioletred;
}

.nav-link {
  color: palevioletred;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
}

.page-link {
  color: palevioletred;
}

.button {
  color: palevioletred;
  border-color: palevioletred;
  background-color: white;
}

.pagination {
  display: inline-flex;
  justify-content: end;
}

.pageNum {
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
  color: palevioletred;
  
}
.list-group-item {
  color: palevioletred;
}
